@font-face {
  font-family: 'unscii';
  src: url('fonts/unscii-16.ttf');
}

 :root {
  --padding: 1px;
  --unit: 16px;
  --gray: rgb(32, 32, 32);
  --heightBox: 137px;
}

body {
  font-family: 'unscii';
  background: white;
  margin: var(--padding);
  color: white;
}

 ::selection {
  background: none;
  border: none;
}

#theo,
#techno {
  width: var(--heightBox);
  height: var(--heightBox);
  background: black;
  position: absolute;
}

#theo {
  top: 20px;
}

#theo.bigger {
  height: 155px;
  height: 155px;
}

#techno {
  filter: invert();
  background: white;
}

iframe {
  width: 135px;
  height: 135px;
  top: 20px;
  border: 1px solid black;
  position: absolute;
  overflow: hidden;
  margin-left: 138px;
}

#buttons {
  width: var(--unit);
  right: 1px;
  position: absolute;
}

.button {
  width: var(--unit);
  height: var(--unit);
  padding: 0;
  margin: 0;
  margin-top: var(--padding);
  background: black;
  border: 0;
  display: none;
}

.button:hover {
  filter: invert();
}

.button:active {
  filter: invert(0);
}

.button.gray {
  opacity: .32;
}

.button.gray:hover {
  filter: invert(0);
}

#buttonTheo {
  display: block;
  background-image: url('../../icons/bouton1.bmp')
}

#buttonBonus {
  background-image: url('../../icons/bouton1Rouge.bmp')
}

#buttonUpgrade {
  background-image: url('../../icons/bouton2.bmp')
}

#buttonSlot {
  background-image: url('../../icons/bouton3.bmp')
}

#buttonGlif {
  background-image: url('../../icons/bouton4.bmp')
}

#buttonSacrifice {
  background-image: url('../../icons/bouton5.bmp')
}

#buttonFusion {
  background-image: url('../../icons/bouton6.bmp')
}

#counter {
  position: absolute;
  font-size: var(--unit);
  margin: 0;
  padding: 0;
  display: inline-block;
}

#counter li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pixelCounter {
  float: left;
  transform: scale(0.47);
  transform-origin: top left;
  margin-top: var(--padding);
  left: var(--padding);
  top: var(--padding);
}

#counter #incrementUnit {
  float: left;
  margin-left: -18px;
}

#counter #counterBonus {
  margin-left: 16px;
  color: red;
}

tr,
td {
  height: 0;
  padding: 0;
  margin: 0;
}

#pixelCounter td {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  /* outline: var(--padding) solid var(--gray); */
}

#console {
  width: 137px;
  height: 18px;
  position: absolute;
  margin-top: 20px;
  top: calc(var(--heightBox) + var(--padding));
  background: black;
}

#console.bigger {
  margin-top: 38px;
}

#texte {
  position: absolute;
  margin-top: 176px;
  left: var(--padding);
  width: 273px;
  background: black;
  padding: 0px 1px
}

#texte .sentences:not(.sent0) {
  display: none;
}

#texte .sentences {
  display: none;
}

#texte p {
  display: none;
  padding: 0;
  margin: 0;
}

#images {
  position: absolute;
  margin-left: 35px;
  margin-top: 35px;
  height: 72px;
  width: 72px;
  background-image: url('../../grilles/grille4grise.bmp');
  background-size: 69px 69px;
  background-repeat: no-repeat;
  line-height: 0;
}

#images.bigger {
  margin-top: 55px;
}

#images tr {
  margin-left: -3px;
  margin-top: -3px;
  display: inline-table;
}

#images td {
  display: inline;
  margin-right: 1px;
}

#images img {
  width: 16px;
  height: 16px;
}

#images img.select {
  filter: invert(100%);
}

#images img:hover {
  filter: invert(32%);
}

#images img[data-nb="0"]:hover {
  filter: invert(0%);
}

#infoBox {
  left: var(--padding);
  width: 135px;
  height: var(--unit);
  padding: var(--padding);
  background: black;
}